<h1 class='{{styles.title}}'>
  Privacy Policy
</h1>

<h4 class='{{styles.description}}'>
  ...cuz I'm basically the NSA
</h4>

<div class='{{styles.card}}'>
  <section class='{{styles.section}}'>
    <h4 class='{{styles.sectionTitle}}'>
      Overview
    </h4>
    <p class='{{styles.sectionParagraph}}'>
      This Privacy Policy was posted on June 15, 2013. It was last updated on January 16, 2016. It governs the privacy terms of my Website, located at <streamus-link href='/{{RouteType.Home}}'>http://streamus.com</streamus-link>.
      Any capitalized terms not defined in this Privacy Policy have the meaning as specified in the Terms of Use.
    </p>
  </section>

  <section class='{{styles.section}}'>
    <h4 class='{{styles.sectionTitle}}'>
      Your Privacy
    </h4>
    <p class='{{styles.sectionParagraph}}'>
      Streamus follows all legal requirements to protect your privacy. Our Privacy Policy is a legal statement that explains how we may collect information from you, how we may share your information, and how you can limit our
      sharing of your information. You will see terms in our Privacy Policy that are capitalized. These terms have meanings as described in the Definitions section below.
    </p>
  </section>

  <section class='{{styles.section}}'>
    <h4 class='{{styles.sectionTitle}}'>
      Definitions
    </h4>
    <p class='{{styles.sectionParagraph}}'>
      "Non Personal Information" is information that is not personally identifiable
      to you and that we automatically collect when you access our Website with
      a web browser. It may also include publicly available information that
      is shared between you and others.
    </p>
    <p class='{{styles.sectionParagraph}}'>
      "Personally Identifiable Information" is non-public information that is
      personally identifiable to you and obtained in order for us to provide
      you within our Website. Personally Identifiable Information may include
      information such as your name, email address, and other related information
      that you provide to us or that we obtain about you.
    </p>
  </section>

  <section class='{{styles.section}}'>
    <h4 class='{{styles.sectionTitle}}'>
      Information We Collect
    </h4>
    <p class='{{styles.sectionParagraph}}'>
      Generally, you control the amount and type of information you provide
      to us when using our Website.
    </p>
    <p class='{{styles.sectionParagraph}}'>
      As a Visitor, you can browse our website to find out more about our Website.
      You are not required to provide us with any Personally Identifiable Information
      as a Visitor.
    </p>
  </section>

  <section class='{{styles.section}}'>
    <h4 class='{{styles.sectionTitle}}'>
      Computer Information Collected
    </h4>
    <p class='{{styles.sectionParagraph}}'>
      When you use our Website, we automatically collect certain computer information
      by the interaction of your mobile phone or web browser with our Website.
      Such information is typically considered Non Personal Information. We also
      collect the following:
    </p>
    <ul>
      <li>
        <h5 class='{{styles.subsectionTitle}}'>
          Automatic Information
        </h5>
        <p class='{{styles.subsectionParagraph}}'>
          We automatically receive information from your web browser or mobile device.
          This information includes the name of the website from which you entered
          our Website, if any, as well as the name of the website to which you're
          headed when you leave our website. This information also includes the IP
          address of your computer/proxy server that you use to access the Internet,
          your Internet Website provider name, web browser type, type of mobile device,
          and computer operating system. We use all of this information to analyze
          trends among our Users to help improve our Website.
        </p>
      </li>
    </ul>
  </section>
  <section class='{{styles.section}}'>
    <h4 class='{{styles.sectionTitle}}'>
      How We Use Your Information
    </h4>
    <p class='{{styles.sectionParagraph}}'>
      We use the information we receive from you as follows:
    </p>
    <ul class='{{styles.subsection}}'>
      <li>
        <h5 class='{{styles.subsectionTitle}}'>
          Customizing Our Website
        </h5>
        <p class='{{styles.subsectionParagraph}}'>
          We may use the Personally Identifiable information you provide to us along
          with any computer information we receive to customize our Website.
        </p>
      </li>
      <li>
        <h5 class='{{styles.subsectionTitle}}'>
          Sharing Information with Affiliates and Other Third Parties
        </h5>
        <p class='{{styles.subsectionParagraph}}'>
          We do not sell, rent, or otherwise provide your Personally Identifiable
          Information to third parties for marketing purposes. We may provide your
          Personally Identifiable Information to affiliates that provide services
          to us with regards to our Website (i.e. payment processors, Website hosting
          companies, etc.); such affiliates will only receive information necessary
          to provide the respective services and will be bound by confidentiality
          agreements limiting the use of such information.
        </p>
      </li>
      <li>
        <h5 class='{{styles.subsectionTitle}}'>
          Data Aggregation
        </h5>
        <p class='{{styles.subsectionParagraph}}'>
          We retain the right to collect and use any Non Personal Information collected
          from your use of our Website and aggregate such data for internal analytics
          that improve our Website and Service as well as for use or resale to others.
          At no time is your Personally Identifiable Information included in such
          data aggregations.
        </p>
      </li>
      <li>
        <h5 class='{{styles.subsectionTitle}}'>
          Legally Required Releases of Information
        </h5>
        <p class='{{styles.subsectionParagraph}}'>
          We may be legally required to disclose your Personally Identifiable Information,
          if such disclosure is (a) required by subpoena, law, or other legal process;
          (b) necessary to assist law enforcement officials or government enforcement
          agencies; (c) necessary to investigate violations of or otherwise enforce
          our Legal Terms; (d) necessary to protect us from legal action or claims
          from third parties including you and/or other Members; and/or (e) necessary
          to protect the legal rights, personal/real property, or personal safety
          of Streamus, our Users, employees, and affiliates.
        </p>
      </li>
    </ul>
  </section>
  <section class='{{styles.section}}'>
    <h4 class='{{styles.sectionTitle}}'>
      Links to Other Websites
    </h4>
    <p class='{{styles.sectionParagraph}}'>
      Our Website may contain links to other websites that are not under our
      direct control. These websites may have their own policies regarding privacy.
      We have no control of or responsibility for linked websites and provide
      these links solely for the convenience and information of our visitors.
      You access such linked Websites at your own risk. These websites are not
      subject to this Privacy Policy. You should check the privacy policies,
      if any, of those individual websites to see how the operators of those
      third-party websites will utilize your personal information. In addition,
      these websites may contain a link to Websites of our affiliates. The websites
      of our affiliates are not subject to this Privacy Policy, and you should
      check their individual privacy policies to see how the operators of such
      websites will utilize your personal information.
    </p>
  </section>
  <section class='{{styles.section}}'>
    <h4 class='{{styles.sectionTitle}}'>
      Privacy Policy Updates
    </h4>
    <p class='{{styles.sectionParagraph}}'>
      We reserve the right to modify this Privacy Policy at any time. You should
      review this Privacy Policy frequently. If we make material changes to this
      policy, we may notify you on our Website, by a blog post, by email, or
      by any method we determine. The method we chose is at our sole discretion.
      We will also change the "Last Updated" date at the beginning of this Privacy
      Policy. Any changes we make to our Privacy Policy are effective as of this
      Last Updated date and replace any prior Privacy Policies.
    </p>
  </section>
  <section class='{{styles.section}}'>
    <h4 class='{{styles.sectionTitle}}'>
      Questions
    </h4>
    <p class='{{styles.sectionParagraph}}'>
      If you have any questions about this Privacy Policy - <streamus-link href='/{{RouteType.Contact}}'>hit me up</streamus-link>.
    </p>
  </section>
</div>