<h1 class='{{styles.title}}'>
  Getting Started
</h1>
<h4 class='{{styles.description}}'>
  Let's get you familiar with your new extension!
</h4>

<div class='{{styles.cards}}'>
  <streamus-card class='{{styles.card}}'>
    <card-richMedia>
      <img class='{{styles.image}}' width='640' height='480' src='/contentPages/gettingStarted/emptyPlaylist.png' alt='Streamus Intro - Welcome' />
    </card-richMedia>
    <card-header>
      <card-title>The user interface</card-title>
    </card-header>
    <card-content>
      Streamus starts pretty much empty. You've gotta add some songs to your playlist! Click the search icon to begin adding to your collection.
    </card-content>
  </streamus-card>

  <streamus-card class='{{styles.card}}'>
    <card-richMedia>
      <img class='{{styles.image}}' width='640' height='480' src='/contentPages/gettingStarted/selectingItems.png' alt='Streamus Intro - Searching' />
    </card-richMedia>
    <card-header>
      <card-title>Searching for songs</card-title>
    </card-header>
    <card-content>
      Try typing in an artist or song name. You should see search results appear.
      You can use Ctrl+Click and Shift+Click to select more than one result at a time.
      Clicking the play button on a result will cause it to begin streaming instantly.
    </card-content>
  </streamus-card>

  <streamus-card class='{{styles.card}}'>
    <card-richMedia>
      <img class='{{styles.image}}' width='640' height='480' data-ui='lazyImage' data-src='/contentPages/gettingStarted/draggingItems.png' alt='Streamus Intro - Adding Videos' />
    </card-richMedia>
    <card-header>
      <card-title>Adding songs</card-title>
    </card-header>
    <card-content>
      Click-and-drag search results to your stream. Drop search results to add.
      Close out of the search window once you've added some music. You're now ready to rock out!
    </card-content>
  </streamus-card>

  <streamus-card class='{{styles.card}}'>
    <card-richMedia>
      <img class='{{styles.image}}' data-ui='lazyImage' data-src='/contentPages/gettingStarted/playing.png' alt='Streamus Intro - Playing' />
    </card-richMedia>
    <card-header>
      <card-title>Playing songs</card-title>
    </card-header>
    <card-content>
      Click play to begin playing the first song in your stream. The songs will play in order, but feel free to re-arrange them.
      You can configure stream settings at the bottom -- shuffling, repeating and 'radio mode.' Radio mode will allow the stream to
      continue playing once it runs out of music.
    </card-content>
  </streamus-card>

  <streamus-card class='{{styles.card}}'>
    <card-richMedia>
      <img class='{{styles.image}}' width='640' height='480' data-ui='lazyImage' data-src='/contentPages/gettingStarted/createPlaylist.png' alt='Streamus Intro - Adding Playlists' />
    </card-richMedia>
    <card-header>
      <card-title>Adding playlists</card-title>
    </card-header>
    <card-content>
      The playlist management pane can be expanded by clicking the button located in the upper-left corner. You can add, delete
      and rename playlists from here. When adding a playlist -- you may provide a YouTube channel or playlist URL as a source.
      In the future, you will be able to login to YouTube and access personal playlists as well as SoundCloud and other services.
    </card-content>
  </streamus-card>

  <streamus-card class='{{styles.card}}'>
    <card-richMedia>
      <img class='{{styles.image}}' width='640' height='480' data-ui='lazyImage' data-src='/contentPages/gettingStarted/keyboardShortcuts.png' alt='Streamus Intro - Shortcuts' />
    </card-richMedia>
    <card-header>
      <card-title>Keyboard Shortcuts</card-title>
    </card-header>
    <card-content>
      Streamus supports a bunch of keyboard shortcuts. Click the hamburger icon in the upper-right and then select the 'Keyboard shortcuts' menu option.
      Keyboard shortcuts allow you to skip between songs, adjust the volume, etc. all without opening the UI! Try setting a few of them up to make your music-listening experience even simpler.
    </card-content>
  </streamus-card>

  <streamus-card class='{{styles.card}}'>
    <card-richMedia>
      <img class='{{styles.image}}' width='640' height='480' data-ui='lazyImage' data-src='/contentPages/gettingStarted/omnibox.png' alt='Streamus Intro - Omnibox' />
    </card-richMedia>
    <card-header>
      <card-title>Omnibox Integration</card-title>
    </card-header>
    <card-content>
      You can use the omnibox to immediately stream songs in Streamus. Just
      type 'streamus', tap your spacebar and you're off searching YouTube. Simple,
      huh?
    </card-content>
  </streamus-card>
</div>