<h1 class='{{styles.title}}'>
  Getting Started
</h1>
<h4 class='{{styles.description}}'>
  Let's get you familiar with your new extension!
</h4>

<div class='{{styles.cards}}'>
  <streamus-card class='{{styles.card}}'>
    <richMedia>
      <img width='640' height='480' src='/contentPages/gettingStarted/emptyPlaylist.png' alt='Streamus Intro - Welcome' />
    </richMedia>
    <primaryTitle>
      The user interface
    </primaryTitle>
    <supportingText>
      Streamus starts pretty much empty. You've gotta add some songs to your playlist! Click the search icon to begin adding to your collection.
    </supportingText>
  </streamus-card>

  <streamus-card class='{{styles.card}}'>
    <richMedia>
      <img width='640' height='480' src='/contentPages/gettingStarted/selectingItems.png' alt='Streamus Intro - Searching' />
    </richMedia>
    <primaryTitle>
      Searching for songs
    </primaryTitle>
    <supportingText>
      Try typing in an artist or song name. You should see search results appear.
      You can use Ctrl+Click and Shift+Click to select more than one result at a time.
      Clicking the play button on a result will cause it to begin streaming instantly.
    </supportingText>
  </streamus-card>

  <streamus-card class='{{styles.card}}'>
    <richMedia>
      <img width='640' height='480' data-ui='lazyImage' data-src='/contentPages/gettingStarted/draggingItems.png' alt='Streamus Intro - Adding Videos' />
    </richMedia>
    <primaryTitle>
      Adding songs
    </primaryTitle>
    <supportingText>
      Click-and-drag search results to your stream. Drop search results to add.
      Close out of the search window once you've added some music. You're now ready to rock out!
    </supportingText>
  </streamus-card>

  <streamus-card class='{{styles.card}}'>
    <richMedia>
      <img data-ui='lazyImage' data-src='/contentPages/gettingStarted/playing.png' alt='Streamus Intro - Playing' />
    </richMedia>
    <primaryTitle>
      Playing songs
    </primaryTitle>
    <supportingText>
      Click play to begin playing the first song in your stream. The songs will play in order, but feel free to re-arrange them.
      You can configure stream settings at the bottom -- shuffling, repeating and 'radio mode.' Radio mode will allow the stream to
      continue playing once it runs out of music.
    </supportingText>
  </streamus-card>

  <streamus-card class='{{styles.card}}'>
    <richMedia>
      <img width='640' height='480' data-ui='lazyImage' data-src='/contentPages/gettingStarted/createPlaylist.png' alt='Streamus Intro - Adding Playlists' />
    </richMedia>
    <primaryTitle>
      Adding playlists
    </primaryTitle>
    <supportingText>
      The playlist management pane can be expanded by clicking the button located in the upper-left corner. You can add, delete
      and rename playlists from here. When adding a playlist -- you may provide a YouTube channel or playlist URL as a source.
      In the future, you will be able to login to YouTube and access personal playlists as well as SoundCloud and other services.
    </supportingText>
  </streamus-card>

  <streamus-card class='{{styles.card}}'>
    <richMedia>
      <img width='640' height='480' data-ui='lazyImage' data-src='/contentPages/gettingStarted/keyboardShortcuts.png' alt='Streamus Intro - Shortcuts' />
    </richMedia>
    <primaryTitle>
      Keyboard Shortcuts
    </primaryTitle>
    <supportingText>
      Streamus supports a bunch of keyboard shortcuts. Click the hamburger icon in the upper-right and then select the 'Keyboard shortcuts' menu option.
      Keyboard shortcuts allow you to skip between songs, adjust the volume, etc. all without opening the UI! Try setting a few of them up to make your music-listening experience even simpler.
    </supportingText>
  </streamus-card>

  <streamus-card class='{{styles.card}}'>
    <richMedia>
      <img width='640' height='480' data-ui='lazyImage' data-src='/contentPages/gettingStarted/omnibox.png' alt='Streamus Intro - Omnibox' />
    </richMedia>
    <primaryTitle>
      Omnibox Integration
    </primaryTitle>
    <supportingText>
      You can use the omnibox to immediately stream songs in Streamus. Just
      type 'streamus', tap your spacebar and you're off searching YouTube. Simple,
      huh?
    </supportingText>
  </streamus-card>
</div>