<h1 class='{{styles.title}}'>
  Frequently Asked Questions
</h1>

<h4 class='{{styles.description}}'>
  You've got questions. I've got answers.
</h4>

<div class='{{styles.card}}'>
  <h4 class='{{styles.header}}'>
    General
  </h4>

  <div data-region='general'></div>

  <h4 class='{{styles.header}}'>
    Troubleshooting
  </h4>

  <div data-region='troubleshooting'></div>
</div>