<div class='{{styles.header}}' data-ui='header'>
  <div class='{{styles.expandCollapseIcon}}'></div>
  <div class='{{styles.title}}'>
    {{title}}
  </div>
</div>
<div class='{{styles.description}}' data-ui='description'>
  {{{description}}}
</div>