<div class="{{styles.header}}">
  <a href="/{{RouteType.Home}}" class="{{styles.logo}}">
    <img width='230' height='50' src='/header/logo.png' class='logo' title='Streaming YouTube music made simple by Google Chrome - Streamus' alt='Streaming YouTube music made simple by Google Chrome - Streamus' />
  </a>
</div>

<div data-region='navigationItems' class='{{styles.navigationItemsRegion}}'></div>

<div class='{{styles.footer}}'>
  <div>
    © Streamus
  </div>
</div>