<div class='{{styles.richMedia}}'>
  {{{richMedia}}}
</div>
<div class='{{styles.header}}'>
  <div class='{{styles.title}}'>{{{header.title}}}</div>
  <div class='{{styles.subtitle}}'>{{{header.subtitle}}}</div>
</div>
<div class='{{styles.content}}'>
  {{{content}}}
</div>
<div class='{{styles.actions}}'>
  {{{actions}}}
</div>