<h1 class='{{styles.title}}'>
  About
</h1>
<h4 class='{{styles.description}}'>
  Hi! I'm Sean Anderson.
</h4>

<streamus-card>
  <card-content>
    <p class='{{styles.paragraph}}'>
      <strong>Programming should be fun and useful.</strong> Streamus is my manifestation
      of that belief. One day, while sitting around with friends, having a couple
      of beers, I said to myself, “I bookmark YouTube way too much!” Naturally,
      I took this thought way too far. Three years of effort has led to Streamus -
      my attempt at simplifying the YouTube music experience.
    </p>
    <p class='{{styles.paragraph}}'>
      <strong>I love music.</strong> Especially EDM. It seemed fitting to share
      Streamus with the world because, well, music is so much better when everyone
      gets to experience it&hellip; why should the software that makes it possible
      be any different?
    </p>
    <p class='{{styles.paragraph}}'>
      <strong>Help me help you.</strong> Streamus isn't perfect and, without
      your help, it never will be. Reach out to me. I am friendly and interested
      in your ideas. How do you use YouTube?
    </p>
    <br />
    <p>
      I'll make Streamus. You buy me a beer at <streamus-link href='http://electricdaisycarnival.com/' target='_blank'>Electric Daisy Carnival 2016</streamus-link>. Deal? ;)
    </p>
  </card-content>
</streamus-card>