<h1 class='{{styles.title}}'>
  Share
</h1>
<h4 class='{{styles.description}}'>
  Sharing playlists is as easy as you'd expect.
</h4>

<div class='{{styles.introduction}}'>
  <div class='{{styles.cards}}'>
    <div class='{{styles.card}}'>
      <img width='640' height='480' src='/contentPages/share/share.png' alt='Image of Sharing Playlist' />

      <h4 class='{{styles.cardTitle}}'></h4>

      <p class='{{styles.cardSupportingText}}'>
        Share playlists with friends by sending them a custom Streamus' playlist URL. This page will change if it detects a playlist in the URL!
        To get you started, here's one of my playlists:

        <a class='{{styles.link}}' href='{{RouteType.Share}}/playlist/1f9edabfdeb8/tropical_house'>
          Tropical House
        </a>
      </p>
    </div>
  </div>
</div>

<div class='{{styles.loading}}'>
  Loading share data...
</div>

<div class='{{styles.error}}'>
  Failed to load share data. Sorry. :(
</div>

<div data-region='playlist'></div>