<div class='{{styles.labelValueWrapper}}'>
  <label class='{{styles.placeholder}}'>{{placeholder}}<span class='{{styles.required}}'>{{ternary isRequired ' *' ''}}</span></label>

  {{#if isMultiline}}
  <textarea data-ui='input' class='{{styles.value}}' maxlength='{{maxLength}}' rows='1' name='{{name}}'>{{value}}</textarea>
  {{else}}
  <input data-ui='input' class='{{styles.value}}' type='{{type}}' min='{{min}}' maxlength='{{maxLength}}' value='{{value}}' name='{{name}}' {{ternary isAutofocused 'autofocus' ''}}>
  {{/if}}
</div>

<div class='{{styles.footer}}'>
  <span class='{{styles.errorMessage}}'>
    {{errorMessage}}
  </span>
  <span class='{{styles.characterCountWrapper}} {{ternary showCharacterCount '' styles.isHidden}}'>
    <span data-ui='characterCount'>{{value.length}}</span> / {{maxLength}}
  </span>
</div>