<div data-region='simpleMenu'></div>

<div class='{{styles.labelValueWrapper}}'>
  <label class='{{styles.placeholder}}'>{{placeholder}}<span class='{{styles.required}}'>{{ternary isRequired ' *' ''}}</span></label>
  <div data-ui='value' class='{{styles.value}}'></div>
</div>

<div class='{{styles.footer}}'>
  <span data-ui='errorMessage' class='{{styles.errorMessage}}'>{{errorMessage}}</span>
</div>