<nav data-region='navigation' class='{{styles.navigationRegion}}'></nav>

<div class='{{styles.content}}'>
  <div data-region='header' class='{{styles.headerRegion}}'></div>
  <div data-region='content' class='{{styles.contentRegion}}'></div>
  <div data-region='footer' class='{{styles.footerRegion}}'></div>
</div>

<div data-region='snackbar' class='{{styles.snackbarRegion}}'></div>