<h1 class='{{styles.title}}'>
  Simple, streaming music.
</h1>

<h4 class='{{styles.description}}'>
  Streamus is the music player you deserve. <br />
  A Chrome extension to seamlessly integrate YouTube into your life.
</h4>

<div class='{{styles.button}}' data-region='button'></div>

<div class='{{styles.card}}'>
  <div class='{{styles.video}}'>
    Example HTML5 Video here.
  </div>
</div>

<div class='{{styles.features}}'>
  <div class='{{styles.feature}}'>
    <h4 class='{{styles.featureTitle}}'>
      No bookmarks
    </h4>
    <p class='{{styles.featureDescription}}'>
      Instead of bookmarking songs - build playlists! Your music collection will come with you even if you move computers.
    </p>
  </div>

  <div class='{{styles.feature}}'>
    <h4 class='{{styles.featureTitle}}'>
      Music discovery
    </h4>
    <p class='{{styles.featureDescription}}'>
      Explore YouTube at your own leisure. Turn on radio mode and discover new songs based on your listening habits.
    </p>
  </div>

  <div class='{{styles.feature}}'>
    <h4 class='{{styles.featureTitle}}'>
      Share everything
    </h4>
    <p class='{{styles.featureDescription}}'>
      Send playlist URLs to friends and they'll instantly have their own copy.
    </p>
  </div>
</div>