<div class='{{styles.leftSection}}'>
  <div data-region='navigationItems'></div>
</div>
<div class='{{styles.rightSection}}'>
  <ul>
    <li class='{{styles.item}}'>
      <a href='https://www.youtube.com/channel/UCIM0WmckvPaAR_ZaCbNJUVA' class='{{styles.badge}}' target='_blank' title='YouTube'>
        <img width='85' height='42' src='/footer/youTube.png' alt='Powered by YouTube' />
      </a>
    </li>
    <li class='{{styles.item}}'>
      <div class='{{styles.icons}}'>
        <a class='{{styles.icon}}' href='https://www.facebook.com/GetStreamus' target='_blank' title='Facebook'>
          <span class='{{styles.facebook}}'></span>
        </a>
        <a class='{{styles.icon}}' href='https://www.reddit.com/r/streamus' target='_blank' title='Reddit'>
          <span class='{{styles.reddit}}'></span>
        </a>
        <a class='{{styles.icon}}' href='https://twitter.com/streamus' target='_blank' title='Twitter'>
          <span class='{{styles.twitter}}'></span>
        </a>
        <a class='{{styles.icon}}' href='https://github.com/MeoMix/StreamusChromeExtension' target='_blank' title='GitHub'>
          <span class='{{styles.github}}'></span>
        </a>
      </div>
    </li>
  </ul>
</div>