<div class='{{styles.thumbnail}}' style='background-image: url(https://img.youtube.com/vi/{{get video 'id'}}/mqdefault.jpg)' />

<div class='{{styles.content}}'>
  <div class='{{styles.title}}'>
    <a href='{{get video 'url'}}' target='_blank'>
      {{get video 'title'}}
    </a>
  </div>

  <div class='{{styles.duration}}'>
    {{get video 'prettyDuration'}}
  </div>
</div>