<div class='{{styles.loading}}'>
  Loading playlist...
</div>

<div class='{{styles.error}}'>
  Failed to load playlist. Sorry. :(
</div>

<streamus-card class='{{styles.details}}'>
  <card-header>
    <card-title>
      <h4 data-ui='title' class='{{styles.title}}'></h4>
    </card-title>
    <card-subtitle>
      <div data-ui='displayInfo' class='{{styles.subtitle}}'></div>
    </card-subtitle>
  </card-header>
  <card-content>
    <div data-region='playlistItems'></div>
  </card-content>
  <card-actions>
    <div data-region='button'></div>
  </card-actions>
</streamus-card>