<div class='{{styles.loading}}'>
  Loading playlist...
</div>

<div class='{{styles.error}}'>
  Failed to load playlist. Sorry. :(
</div>

<div class='{{styles.details}}'>
  <h4 class='{{styles.title}}'>
    { model:title }
  </h4>
  <div data-ui='displayInfo' class='{{styles.subtitle}}'></div>

  <div data-region='playlistItems'></div>
  <div data-region='button'></div>
</div>